<nav class="site-header sticky-top py-1 d-none d-md-block">
    <div class="nav-wrapper row mx-auto">
        <div class="col-md-1"></div>
        <div class="container col-md-10 col-lg-9 d-flex flex-column flex-md-row justify-content-between">

            <div class="py-2 d-none d-md-inline-block custom-control custom-switch">
                <input type="checkbox" id="themeSwitch" class="custom-control-input" onclick="toggleThemeCheckBox()">
                <label class="custom-control-label" for="themeSwitch">&#x1f31c;</label>
            </div>


            <a class="py-2 d-none d-md-inline-block hlong" href="#key-skills">Home</a>
            <a class="py-2 d-none d-md-inline-block hshort" href="#portfolio">GitHub Profile</a>
            <a class="py-2 d-none d-md-inline-block hshort" href="#contact">Contact</a>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</nav>
 
