<!doctype html>

<title>N Queens {% block title %}Program{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block stylesheets %}{% endblock %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="flashes container">
			<p>The following issues were identified:</p>
			<ul class="flashes">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		<hr>
	{% endif %}
{% endwith %}

<section class="header">
	{% block header %}{% endblock %}
</section>

<section class="content">
	{% block content %}{% endblock %}
</section>
