<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="static/css/board.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
    <script src="static/js/wgg.js" ></script>
</head>
<body>
<h1>Word Guesser Game</h1>
<div class="board_section">
    <div id="result">?</div>
</div>
<p class="board_section"><a href=# id=calculate>Show solution</a>

<form>
    <div class="form-group">
        <label for="fguess">Your Guess:</label>
        <input type="text" class="form-control" name="guess" id="fguess" aria-describedby="guessHelp" placeholder="befuddled">
        <small id="guessHelp" class="form-text text-muted">Enter your guess for the nine letter word here</small>
        <button type="guessSubmit" id="guessSubmit" class="btn btn-primary">Guess</button>
    </div>
</form>
<div class="stat_section">
    <div id="stats">?</div>
</div>
</body>
</html>
